:root {
  --color-primary-brand: #4d5ae5;
  --color-dark: #2e2f42;
  --color-succes: #31d0aa;
  --color-text: #434455;
  --color-subtle-text: #8e8f99;
  --color-accent: #e7e9fc;
  --color-light: #f4f4fd;
  --color-team-text: #ffffff;
  --color-icons-team: #404bbf;
  --shadow-header: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16);
  --shadow-team: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --shadow-gallery: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-dark);
  background-color: white;
}

/*----------------------Container------------------- */

.container {
  min-width: 320px;
  max-width: 480px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}



@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 120px;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 96px;
  }
} 

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
  }
} 

.link {
  text-decoration: none;
}


header .container {
  display: block;
}

@media screen and (min-width: 768px) {
  header .container {
    display: flex;
  }
}


.contacts,
.logo,
.nav-bottons {
  display: flex;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}



/*----------------------Header------------------- */

.header {
  box-shadow: var(--shadow-header);
}


.main-nav,
.contacts {
  align-items: center;
}



.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary-brand);
}

.logo span {
  color: var(--color-dark);
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 76px;
  }
}

.main-nav {
  display: none;
}

@media screen and (min-width: 768px) {
.main-nav {
  display: flex;
  margin-right: 118px;}
}

@media screen and (min-width: 1200px) {
  .main-nav {
    display: flex;
    margin-right: 332px;}
  }

.header-list {
  display: flex;
}

@media screen and (min-width: 768px) {
  .header-link  {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-dark);
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

    .active {
      position: relative;
    }

    .active::after {
      content: " ";
      position: absolute;
      display: block;
      margin-top: calc(24px - 4px);
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--color-icons-team);
    }

    .header-link:hover,
    .header-link:focus {
     color: var(--color-primary-brand);
}   

    .list-item:not(:last-child) {
    margin-right: 40px;
}
  }

  @media screen and (min-width: 1200px) {
    .header-link  {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--color-dark);
      padding-top: 24px;
      padding-bottom: 24px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    }


.contacts {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    display: block;
    font-size: 12px;
  }
}

@media screen and (min-width:1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
  }
  .header-mail,
.header-phone {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--color-primary-brand);
}

.header-phone:hover,
.headerphone:focus {
  color: var(--color-primary-brand);
}

.contacts:not(:last-child) {
  margin-right: 40px;
}
}

@media screen and (min-width: 768px) {
  .header-mail,
.header-phone {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  padding-top: 24px;
  padding-bottom: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--color-primary-brand);
}

}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Mobile Menu */

@media screen and (max-width: 767px) {
  .menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}



@media (max-width: 767px) {
  .menu {
    display: none;
  }
}


.menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--color-team-text);
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}



.btn-open-menu {transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.menu-toggle:hover > .btn-open-menu,
.menu-toggle:focus > .btn-open-menu {
  color: var(--color-icons-team);
} 

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-team-text);
  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  padding-top: 80px;
  background-color: var(--color-team-text);
  
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container .icon-close {
  top: 40px;
  right: 40px;
}

.mobile-list {
  margin-bottom: auto;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-list {
  margin-bottom: auto;

}

.mobile-list .link {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}



.mobile-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-contacts-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-contacts {
  margin-bottom: 48px;
}

.mobile-contacts-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.mobile-contacts-link.accent {
  font-weight: 700;
  font-size: 36px;
line-height: 1.11;
color: var(--color-primary-brand);

}

.mobile-social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 56px;
}

.mobile-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-primary-brand);
  color: var(--color-team-text);
  border-radius: 50%;
}

.mobile-social-link {
  fill: currentColor
}

.mobile-social-icon {
  width: 24px;
  height: 24px;
}

/*----------------- Main--------------------- */

.hero {
  text-align: center;
  padding-top: 112px;
  padding-bottom: 112px;
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
  background-color: var(--color-dark);
  /* background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../img/people-office.jpg); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .hero {
    max-height: 432px;
  } 
} 


@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

.hero-title {
  
  text-align: center;
  margin: 0 auto;
  color: white;
  font-size: 56px;
  line-height: 1.07;
  margin-bottom: 48px;
}


@media screen and (max-width: 767px) {
  .hero-title {
    font-size: 36px;
    margin-bottom: 72px;
  }
}



.main-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  cursor: pointer;
  line-height: calc(19 / 16);
  color: var(--color-team-text);
  background-color: var(--color-primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--color-icons-team);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


@media screen and (min-width: 1155px) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../img/people-office.jpg);
    max-width: 1440px;
  }
}

@media (min-device-pixel-ratio: 2)  and (min-width: 1155px),
(-webkit-min-device-pixel-ratio: 2)  and (min-width: 1155px),
(min-resolution: 192dpi)  and (min-width: 1155px),
(min-resolution: 2dppx)  and (min-width: 1155px) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../img/people-office2x.jpg);
    }
}


@media screen and (min-width: 481px) and (max-width: 1154px) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../img/people-office.jpg);
    max-width: 1154px;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 481px) and (max-width: 1154px),
(-webkit-min-device-pixel-ratio: 2) and (min-width: 481px) and (max-width: 1154px),
(min-resolution: 192dpi) and (min-width: 480px) and (max-width: 1154px),
(min-resolution: 2dppx) and (min-width: 480px) and (max-width: 1154px) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../img/people-office2x.jpg);
  }
}

@media screen and (max-width: 480px) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../img/people-office.jpg);
    max-width: 480px;
  }    
}

@media (min-device-pixel-ratio: 2) and (max-width: 480px),
(-webkit-min-device-pixel-ratio: 2) and (max-width: 480px),
(min-resolution: 192dpi) and (max-width: 480px),
(min-resolution: 2dppx) and (max-width: 480px) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../img/people-office2x.jpg);
  }
}

/*--------------------- Second section------------------- */


/* @media screen and (max-width: 767px) {
  .container-second {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 396px;
  }
} */



.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}

.hero-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.hero-list {
  display: block;
  align-items: center;
  justify-content: center;
  min-width: 396px;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .hero-list {
    display: flex;
    align-items: center;
  }
  
  .item:not(:last-child):not(:last-child) {
    margin-right: 24px;
  }

}

@media screen and (max-width: 767px) {
  .item:not(:first-child) {
    margin-top: 72px;
  }
}

.hero-icons {
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  background-color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .hero-icons {
    display: none;
  }
}

.hero-icon {
  width: 64px;
  height: 64px;
}

@media screen and (max-width: 767px) {
  .item:not(:first-child) {
    margin-top: 72px;
  }

  .title{
text-align: center;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2E2F42;
  }

  .hero-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
  }

}

/* @media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-list {
    display: flex;
    flex-wrap: wrap;
  }
 
  .item:nth-child(-n + 2) {
    margin-bottom: 72px;}

.item:nth-child(2n + 1) {
  margin-right: 24px;

  }
} */


@media screen and (min-width: 768px) {
  .title{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;}

    .hero-text {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;
        }
        .hero-list {
       display: flex;
      }
  
       .item:nth-child(2n + 1) {
        margin-right: 24px;
        }

        .item:nth-child(-n + 2) {
          margin-bottom: 72px;}

}



/*-------------------- Section What are we doing-------------- */

.doing {
  padding-bottom: 120px;
}

.title-doing {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
  margin-top: 0;
}

.img {
  display: flex;
  align-items: flex-start;
}

.img:not(:last-child):not(:last-child) {
  margin-right: 24px;
}

/*------------------------ Our Team------------------ */

.photo {
  display: block;
}

.our-team {
  background: var(--color-light);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark);
  margin-top: 0;
  margin-bottom: 8px;
}

.work {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.team-list {
  display: flex;
  margin-top: 72px;
}

.worker:not(:last-child) {
  margin-right: 24px;
}

.team-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
  background-color: var(--color-team-text);
  box-shadow: var(--shadow-team);
  border-radius: 0px 0px 4px 4px;
}

.team-social-list {
  display: flex;
  list-style: none;
  width: 232px;
  height: 48px;
  padding: 12px 16px 36px 16px;
  justify-content: center;
  align-items: center;
  padding: 4px 0px;
  gap: 24px;
}

.social-list {
  width: 40px;
  height: 40px;
}

.social-link {
  border-radius: 50%;
  color: var(--color-light);
  background-color: var(--color-primary-brand);
  cursor: pointer;
  fill: var(--color-light);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--color-icons-team);
}

.social-icon {
  width: 16px;
  height: 16px;
}

/* -----------------------Customers--------------------*/

.customers-section {
  padding-bottom: 120px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #2e2f42;
  padding-bottom: 72px;
}

.customers-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: end;
}

.customer-link {
  width: 168px;
  height: 88px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-subtle-text);
  fill: var(--color-subtle-text);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  border: 1px solid var(--color-primary-brand);
  fill: var(--color-primary-brand);
}

.customer-icon {
  width: 104 px;
  height: 56 px;
}

/* ------------------------Footer-------------------- */

.footer {
  background-color: var(--color-dark);
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary-brand);
  width: 1158px;
  margin-bottom: 16px;
}

.logo-footer span {
  color: var(--color-light);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-accent);
  width: 264px;
}

.footer-container {
  display: flex;
}

.footer-main {
  margin-right: 120px;
  width: 264px;
  height: 110px;
}

.footer-social-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-team-text);
  margin-bottom: 16px;
}

.footer-social-list {
  list-style: none;
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  width: 24px;
  height: 24px;
}

.footer-form {
  margin-left: 80px;
}

.form-subscribe {
  display: flex;
}

.input-mail {
  font-family: "Roboto";
  background-color: inherit;
  padding-left: 16px;
  height: 40px;
  width: 264px;
  margin-right: 16px;
  color: rgba(255, 255, 255, 0.6);
  line-height: calc(24 / 12);
  font-size: 12px;
  letter-spacing: 0.04em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
}

.icon-subscribe {
  width: 24px;
  height: 20px;
  fill: var(--color-team-text);
}

/* Portfolio buttons */

.btn-portfolio {
  padding: 12px 24px;
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  color: var(--color-primary-brand);
  line-height: 1, 5;
  background-color: var(--color-light);
  order: 0;
  flex-grow: 0;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  padding-top: 96px;
}

.btn-portfolio:hover.btn,
.btn-portfolio:focus.btn {
  background-color: var(--color-primary-brand);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.nav-bottons {
  justify-content: center;
  margin-bottom: 72px;
}

.item-btn:not(:last-child) {
  margin-right: 24px;
}

/* Portfolio Gallery */

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 120px;
}

.gallery-item {
  margin-right: 24px;
  margin-bottom: 48px;
}

.gallery-item:nth-child(3n) {
  margin-right: 0;
}

.gallery-item:nth-child(n + 7) {
  margin-bottom: 0;
}

.gallery-text {
  display: flex;
  flex-direction: column;
  padding: 32px 32px;
  background-color: var(--color-team-text);
  border: 0.5px solid var(--color-team-text);
  box-shadow: var(--shadow-gallery);
}

.gallery-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.text-overlay {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-light);
}

.box-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 360px;
  height: 300px;
  top: 0px;
  left: 0px;
  padding: 40px 32px;
  background-color: var(--color-primary-brand);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.gallery-link:hover .overlay {
  transform: translateY(0%);
  opacity: 1;
}

/* --------------Modal window-------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: visibility 800ms ease, opacity 800ms ease;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 1000ms ease 200ms;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: black;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--color-icons-team);
  border: 1px solid var(--color-icons-team);
  fill: var(--color-team-text);
}

.icon-close {
  width: 8px;
  height: 8px;
}

.modal-form {
  padding: 72px 24px 24px 24px;
}

.title-form {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 14px;
  color: var(--color-dark);
}

.contacts-field {
  display: block;
  position: relative;
}

.contacts-input {
  outline: transparent;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-input:focus {
  border-color: var(--color-primary-brand);
}

.form-icon-user {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 8px;
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon-tel {
  position: absolute;
  width: 18px;
  height: 24px;
  bottom: 8px;
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon-mail {
  position: absolute;
  width: 18px;
  height: 24px;
  bottom: 8px;
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-input:focus + .form-icon-user {
  fill: var(--color-primary-brand);
}

.contacts-input:focus + .form-icon-tel {
  fill: var(--color-primary-brand);
}

.contacts-input:focus + .form-icon-mail {
  fill: var(--color-primary-brand);
}

.input-title {
  display: block;
  font-family: "Roboto";
  margin-top: 8px;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: var(--color-subtle-text);
}

.text-area {
  display: block;
}

.text-area-text {
  width: 100%;
  height: 120px;
  padding-top: 8px;
  padding-left: 16px;
  font-size: 12px;
  font-family: inherit;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area-text:focus {
  border-color: var(--color-primary-brand);
}

.contacts-agreement {
  display: flex;
}

.form-checkbox {
  display: inline-block;
  appearance: none;
}

.check-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 16px;
  border: 1.25px solid var(--color-dark);
  border-radius: 2px;
}

.form-checkbox:checked + .check-icon {
  background-color: var(--color-icons-team);
  border-color: var(--color-icons-team);
  background-image: url("../img/checkbox.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.accept-text {
  display: inline-block;
  font-family: "Roboto";
  color: #757575;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  margin-top: 16px;
  margin-left: 8px;
}

.accept-link {
  font-family: "Roboto";
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
}

.accept-link:hover,
.accept-link:focus {
  color: var(--color-primary-brand);
}

.box-button-send {
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-button {
  padding: 16px 32px 16px 32px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  border: none;
  margin-top: 24px;
  min-width: 169px;
  cursor: pointer;
  background-color: var(--color-primary-brand);
  color: var(--color-team-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover {
  background-color: var(--color-icons-team);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}




















